.container {max-width: 800px; margin: 0 auto; overflow: auto;}

h3 {padding-top: 18px;}
h1 {font-size: 36px;}

table {border-spacing: 0;}
tbody tr:nth-child(odd) {background-color: #f3f3f3;}
thead {text-align: left; font-family: Source Sans Pro, Arial, sans-serif;}
th {text-align: left; font-family: Source Sans Pro, Arial, sans-serif; min-width: 3rem; vertical-align: middle; padding: 8px;}
td {min-width: 3rem; vertical-align: middle; padding: 8px;}
td a {line-height: 24px;}
tr {height: 50px;}
ul, ol {text-indent: 0; margin: 0; padding-left: 20px;}
ul li {padding-bottom: 6px; line-height: 22px;}

.half {max-width: 50%; display: inline-block; vertical-align: top;}
.half:nth-child(odd) {padding-left: 20px;}

/* older css */

body {font-family: Roboto; font-size: 16px; background: #fff; color: #535353;   margin: 0px; padding:10px; overflow: auto; }
h1, h2, h3, h4, h5, h6 {font-family: Roboto, Arial, sans-serif;}

img {width: 100%;}
hr {border: 2px solid #CCF4FF;}

p a, a {color: #535353; text-decoration: none; padding-bottom: 0px; border-bottom: 2px #CCF4FF solid;}
a:hover {color: #47CCFC;}
a:active {color: #47CCFC;}
small {padding: 10px 0px;}
p, ol {line-height: 1.4;}
text {font-size: 12px;}

body.index p:nth-of-type(2) {font-size: 30px;}
body.index table {border: 4px solid #CCF4FF; padding: 18px;}
.home-link {color: #47CCFC;}

/* funsies */
::selection {background: #44FFB4;}
::-moz-selection {background: #44FFB4;}

/* Table */
.ssExample table {min-width: 600px;}
.tHeader {padding: 8px; cursor: pointer; text-align: left;}
.tHeader::after {content: " \2193 \2191 "; font-size: 10px; padding-left: 3px; cursor: pointer;}


/* filter css */

input {
  border: none;
  border-bottom: 1px solid #333;
  margin: 10px 0px;
  min-width:20rem;
  font-size: 16px;
  padding-bottom: 6px;
}

#header{
  position:fixed;
  top:0px;
  width:800px;
  background-color:#FFF;
  z-index:999999;
}

#hackathon{
  margin-top:10px;
  padding-top:0px;
}
